$fuente_pri : "Montserrat", sans-serif;
$fuente_sec : "Yeseva One", serif;;

// Colores
$color_pri : #1c1c1c;
$color_sec : #f1f1f1;
$color_ter : #282d33;
$color_cuar : #e66038;

// Media Queries
$mobile: 481px;
$tablet: 768px;
$desktop: 1201px;
$desktopXL: 1401px;
