@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
     background-color: v.$color_ter;

     @include m.tablet {
            position: fixed; // Hace que la barra de navegación esté siempre fija
            top: 0;
            left: 0;
            width: 100%;
            background-color: v.$color_ter;
            box-shadow: 0 .2rem 1rem #131313; // Mantiene la sombra siempre
            z-index: 1000;
            
     }

     .contenido-header {
        padding: 2rem;

        @include m.tablet{            
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
     }

     h1{
        color: v.$color_sec;
        text-align: center;
        font-weight: 500;
        font-family: v.$fuente_sec;
        margin: 2.5rem 0;

        @include m.tablet{
            text-align: right;
            margin: 0;
        }
     }
}

.resaltado {
    color: v.$color_cuar;
    font-weight: 800;
    font-family: v.$fuente_pri;
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding-bottom: 2rem;

    @include m.tablet{
        flex-direction: row;
        padding-bottom: 0;
    }
    a {
        color: v.$color_sec;
        font-size: 2.4rem;

        &:hover,
        &.active {
            color: v.$color_cuar;
            transition: 0.3s;
        }
    }
}
